.testimonials {
  margin-bottom: $spacing-lg;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: $spacing-lg;
  }
}

.testimonials-track {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $spacing-sm;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 $spacing-sm;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  scroll-snap-type: x mandatory;

  @media (min-width: $breakpoint-tablet) {
    justify-content: center;
    gap: $spacing-md;
  }
}

.testimonial {
  flex: 0 0 250px;
  background: $background-light;
  // border: 1px solid rgba($text-secondary, 0.2);
  border-radius: $border-radius-sm;
  padding: $spacing-sm;
  scroll-snap-align: center;
  flex-shrink: 0;

  @media (min-width: $breakpoint-tablet) {
    flex: 0 0 300px;
  }
}

.testimonial-content {
  display: grid;
  grid-template-areas:
    "name avatar"
    "role avatar"
    "quote quote";
  grid-template-columns: 1fr auto;
  gap: $spacing-xs;
  align-items: start;
  text-align: center;
}

.testimonial-avatar {
  grid-area: avatar;
  justify-self: end;
  grid-row: 1 / 3;
}

.avatar-placeholder {
  width: 40px;
  height: 40px;
  background-color: #e5e7eb;
  border-radius: 50%;
}

.testimonial-name {
  grid-area: name;
  font-weight: 600;
  font-size: $font-size-small;
  color: $text-primary;
  margin: 0;
  justify-self: start;
  text-align: left;
}

.testimonial-role {
  grid-area: role;
  font-size: $font-size-small;
  color: $text-secondary;
  margin: 0;
  justify-self: start;
  text-align: left;
}

.testimonial-quote {
  grid-area: quote;
  font-size: $font-size-body;
  font-style: italic;
  margin: 0;
  color: $text-primary;
  line-height: 1.5;
  justify-self: center;
  text-align: center;
  // border-top: 1px solid rgba($text-secondary, 0.2);
  padding-top: $spacing-xs;
  margin-top: $spacing-xs;
}
