<div class="feature-card">
  <h4>{% if icon %}
    <div class="card-icon">
      <img src="{{ get_url(path='images/' ~ icon ~ '.svg') }}" alt="{{ title }}" width="24" height="24">
    </div>
    {% endif %}{{ title }}
  </h4>
  <p class="feature-card-subtitle">{{ subtitle }}</p>
  <p>{{ body }}</p>

  {% if tags | length %}
  <div class="feature-card-tag-container">
    <p class="feature-card-tag-title">Coverage Includes</p>
    {% for tag in tags %}<span class="feature-card-tag">{{ tag }}</span>{% endfor %}
  </div>
  {% endif %}
</div>