<div class="industry-pills">
    <div class="container">
        <p class="pills-intro">Looking for industry-specific solutions?</p>

        <div class="pills-container">
            <a href="{{ get_url(path='/maritime/') }}"
                class="pill pill--industry {% if (page.extra and page.extra.industry == 'maritime') or (section.extra and section.extra.industry == 'maritime') %}pill--active{% endif %}">
                <span class="pill-icon"><img src="{{ get_url(path='images/maritime-icon.svg')}}" alt="a ship
                        icon" width="24px" height="24px"></span>
                <span class="pill-text">Maritime</span>
            </a>

            <a href="{{ get_url(path='/construction/') }}"
                class="pill pill--industry {% if (page.extra and page.extra.industry == 'construction') or (section.extra and section.extra.industry == 'construction') %}pill--active{% endif %}">
                <span class="pill-icon"><img src="{{ get_url(path='images/construction-icon.svg')}}" alt="a construction
                        icon" width="24px" height="24px"></span>
                <span class="pill-text">Construction</span>
            </a>

            <a href="{{ get_url(path='/outdoor_industry/') }}"
                class="pill pill--industry {% if (page.extra and page.extra.industry == 'outdoor_industry') or (section.extra and section.extra.industry == 'outdoor_industry') %}pill--active{% endif %}">
                <span class="pill-icon"><img src="{{ get_url(path='images/outdoor_industry-icon.svg')}}" alt="a tree
                        icon" width="24px" height="24px"></span>
                <span class="pill-text">Outdoors</span>
            </a>

            <a href="{{ get_url(path='/mobility/') }}"
                class="pill pill--industry {% if (page.extra and page.extra.industry == 'mobility') or (section.extra and section.extra.industry == 'mobility') %}pill--active{% endif %}">
                <span class="pill-icon"><img src="{{ get_url(path='images/mobility-icon.svg')}}" alt="a scooter
                        icon" width="24px" height="24px"></span>
                <span class="pill-text">Mobility</span>
            </a>
        </div>
    </div>
</div>