
<div class="container">
    <div class="dots-container">
        {% for industry in config.extra.industries %}
        <a href="{{ get_url(path=industry.url) }}"
            class="dot {% if industry.slug == "" %}{% if not page.extra.industry and not section.extra.industry %}dot--active{% endif %}{% else %}{% if (page.extra and page.extra.industry == industry.slug) or (section.extra and section.extra.industry == industry.slug) %}dot--active{% endif %}{% endif %}"
            aria-label="{{ industry.label }}{% if industry.slug != '' %} industry solutions{% else %} page{% endif %}">
        </a>
        {% endfor %}
    </div>
</div>