// ===================================
// Section Background Shortcodes
// ===================================

.section-white {
  color: $primary-brown;
  background-color: $background-white;
  padding: $spacing-md 0;

  &:first-of-type {
    padding-top: 0;
  }
}

.section-light {
  color: $primary-brown;
  background-color: $background-light;
  padding: $spacing-md 0;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.section-icy {
  color: $primary-brown;
  background-color: $background-icy;
  padding: $spacing-md 0;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.section-orange {
  background-color: $background-orange-2;
  color: $secondary-icy;
  padding: $spacing-md 0;

  h2 {
    color: $secondary-icy;
  }

  @media (min-width: $breakpoint-tablet) {
    h2 {
      text-align: right;
    }
    p:has(em) {
      text-align: right;
    }
  }
}
