// ===================================
// Column Shortcode
// ===================================

.simple-column {
  display: flex;
  flex-direction: column;
  align-self: center;

  @media (min-width: $breakpoint-tablet) {
    h2,
    h3 {
      text-align: left;
    }
    h2 {
      margin-top: 0;
    }
  }
}

.simple-column-reversed {
  @extend .simple-column;

  @media (min-width: $breakpoint-tablet) {
    order: 999;
  }
}
