// ===================================
// Grid Shortcode
// ===================================

.simple-grid {
  padding: $spacing-sm 0 $spacing-md 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: $spacing-md;
  }
}

.simple-grid-with-images {
  padding-bottom: $spacing-md;
}
