{% extends "base.html" %}

{% block content %}
<section class="attention">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                <h1>
                    <span class="hero-line-1">A simple way to cover</span>
                    <span class="hero-line-2">weather financial risk</span>
                </h1>
                <p>Sereno protects businesses from the financial impact of weather events through sophisticated data
                    management and insurance modelling.</p>
                <!--<p class="highlight">Protecting European businesses from the financial impact of climate-related events.
                </p>-->
            </div>
            <div class="hero-image">
                <img width="334px" height="450px" src='{{ get_url(path="images/financial.webp") }}'
                    alt="Weather parametric insurance for European businesses" class="hero-img">
            </div>
        </div>
    </div>

    {% include "partials/industry-pills.html" %}
</section>

<section class="interest">
    <div class="container">
        {% include "partials/hook.html" %}

        <!-- {% set_global partners_type = "insurer" %}
        {% include "partials/partners.html" %}

        {% set_global partners_type = "broker" %}
        {% include "partials/partners.html" %} -->

        <!-- {% include "partials/testimonials.html" %}
        <div class="middle-cta">
            {% include "partials/cta.html" %}
        </div> -->
    </div>
</section>

<section class="desire">
    <div class="container">
        {% if page %}
        {{ page.content | safe }}
        {% elif section %}
        {{ section.content | safe }}
        {% endif %}
    </div>
</section>

<section class="action">
    <div class="container">
        <h2>Ready to protect your business?</h2>
        {% include "partials/cta.html" %}
    </div>
</section>
{% endblock content %}