{% extends "base.html" %}

{% block content %}
<section class="attention">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                <h1>
                    <span class="hero-line-1">A simple way to cover</span>
                    <span class="hero-line-2">weather financial risk</span>
                </h1>
                <p>Sereno protects businesses from the financial impact of weather disruptions with data-driven risk
                    modelling and parametric insurance, unlocking protection gaps across industries.</p>
            </div>
            <div class="hero-image">
                <img width="300px" height="400px" src='{{ get_url(path="images/financial.webp") }}'
                    alt="Weather parametric insurance for European businesses" class="hero-img">
            </div>
        </div>
        {% include "partials/industry-dots.html" %}

    </div>
</section>

<!-- <section class="interest"></section> -->

<section class="desire">
    {% if page %}
    {{ page.content | safe }}
    {% elif section %}
    {{ section.content | safe }}
    {% endif %}
</section>

<section class="action">
    <div class="container">
        <h2 class="cta-last-chance">Ready to protect your clients?</h2>
        {% include "partials/cta.html" %}
    </div>
</section>
{% endblock content %}