{% extends "base.html" %}

{% block content %}
<section class="attention">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                {% if section.extra and section.extra.risk %}
                <h1>
                    <span class="hero-line-1">A simple way to cover</span>
                    <span class="hero-line-2">weather {{ section.extra.risk }}</span>
                </h1>
                {% else %}
                <h1>
                    <span class="hero-line-1">A simple way to cover</span>
                    <span class="hero-line-2">weather financial risk</span>
                </h1>
                {% endif %}

                <p>{{section.extra.hero_sub_heading}}</p>
                <p class="highlight">{{section.extra.hero_sub_highlight}}</p>
            </div>
            <div class="hero-image">
                <img width="334px" height="450px" src='{{ get_url(path=section.extra.hero_image) }}'
                    alt="Weather parametric insurance for European businesses" class="hero-img">
            </div>
        </div>
        {% include "partials/industry-dots.html" %}
    </div>

</section>◊

<section class="interest">
    <div class="container">
        {% include "partials/hook.html" %}

        <!-- {% set_global partners_type = "insurer" %}
        {% include "partials/partners.html" %}

        {% set_global partners_type = "broker" %}
        {% include "partials/partners.html" %} -->

        <!-- {% include "partials/testimonials.html" %}

        <div class="middle-cta">
            {% include "partials/cta.html" %}
        </div> -->
    </div>
</section>

<section class="desire">
    <div class="container">
        {% if page %}
        {{ page.content | safe }}
        {% elif section %}
        {{ section.content | safe }}
        {% endif %}
    </div>
</section>

<section class="action">
    <div class="container">
        <h2>Ready to protect your business?</h2>
        {% include "partials/cta.html" %}
    </div>
</section>
{% endblock content %}